strong
  font-weight 700
  color #282c34

.theme-container
  background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==")
  background-repeat repeat
  background-attachment fixed
  min-height 100vh
  .page-nav .inner
    border-top 1px solid $accentColor

.theme-default-content pre, .theme-default-content pre[class*="language-"]
  padding 1.8rem 1.5rem 1.25rem

div[class*="language-"]::after,
pre[class*="language-"]::after,
pre[class*="language-"]::before
  content ''
  height 10px
  width 10px
  position absolute
  top 12px
  left 12px
  border-radius 50%
  display inline-block
  background #ff4742

pre[class*="language-"]::before
  left 27px
  background #b300eb

pre[class*="language-"]::after
  left 42px
  background #fcd019

a.sidebar-link.active
  background-color tint($accentColor, 65%)
.sidebar-sub-headers a.sidebar-link.active
  background-color tint($accentColor, 90%)