:root {
  --vp-c-accent: #2486b9;
  --vp-c-accent-bg: #2486b9;
}

strong {
  font-weight: 700;
  color: #282c34;
}

// code icon
div[vp-content] div[class*=language-] pre code {
  padding: 1.8rem 1.5rem 1.25rem;
}
div[class*="language-"]::after,
pre > code::after,
pre > code::before {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  top: 12px;
  left: 3rem;
  border-radius: 50%;
  display: inline-block;
  background: #ff4742;
}
pre > code::before {
  left: 1rem;
  background: #b300eb;
}
pre > code::after {
  left: 2rem;
  background: #fcd019;
}

#app {
  // home
  .vp-home .vp-hero img {
    border-radius: 1rem;
  }
  .vp-navbar .vp-site-logo {
    border-radius: 4px;
  }

  // page
  .vp-page {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
    
    .page-nav .inner {
      border-top: 1px solid var(--vp-c-accent);
    }
  }
  // link
  a.vp-sidebar-item.active {
    background: linear-gradient(90deg, var(--vp-c-accent), transparent 18%);
  }
  .sidebar-sub-headers a.sidebar-item.active {
    background: linear-gradient(90deg, var(--vp-c-accent), transparent 18%);
  }
}
