:root {
  --c-brand: #2486b9 !important;
}

strong {
  font-weight: 700;
  color: #282c34;
}

// code icon
.theme-default-content pre, .theme-default-content pre[class*="language-"] {
  padding: 1.8rem 1.5rem 1.25rem;
}
div[class*="language-"]::after, 
pre[class*="language-"]::after, 
pre[class*="language-"]::before {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  top: 12px;
  left: 3.7rem;
  border-radius: 50%;
  display: inline-block;
  background: #ff4742;
}
pre[class*="language-"]::before {
  left: 1.5rem;
  background: #b300eb;
}
pre[class*="language-"]::after {
  left: 2.6rem;
  background: #fcd019;
}

#app {
  // home
  .home .hero img {
    border-radius: 1rem;
  }
  .navbar .logo {
    border-radius: 4px;
  }

  // page
  .page {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
    
    .page-nav .inner {
      border-top: 1px solid var(--c-text-accent);
    }
  }
  // link
  a.sidebar-item.active {
    background: linear-gradient(90deg, var(--c-text-accent), transparent 18%);
  }
  .sidebar-sub-headers a.sidebar-item.active {
    background: linear-gradient(90deg, var(--c-text-accent), transparent 18%);
  }
}
